@use "../utils" as u;

.shade{
    width: 100vw;
    height: calc(100vh - u.$mobile-header-height);
    background-color: rgba(0, 0, 0, 0.407);
    z-index: 1;
    position: fixed;
    left: 0;
    bottom: 0;

    @include u.desktop-only{
        cursor: pointer;
    }
}